@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
  @apply px-3 pt-1 hover:cursor-pointer relative 
  py-2 lg:py-0 lg:border-0 lg:h-full lg:w-auto lg:px-5 flex items-center transition;
}

.btn{
  @apply px-4 py-1.5 text-sm  border  rounded transition duration-300 hover:text-white focus:outline-none 
}

.btn__coffe{
  @apply hover:bg-orange-700 py-1 px-3 flex items-center gap-1 rounded-lg border border-blue-600 hover:border-white transition duration-300 h-14 text-lg;
}

.card__product{
  @apply w-full h-60 bg-orange-700 flex flex-col justify-center items-center
}

/* animation fade tailwind */
.animation__fadeIn{
  @apply animate-pulse 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
